@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .striped tr:nth-child(odd) {
    @apply bg-gray-100
  }
  .striped tr:hover {
    @apply bg-blue-100;
    cursor: pointer;
  }
  .headerImg {
    height: 500px;
    z-index: 0;
  }
  .headerTxt {
    z-index: 1;
  }
}